# Reference: https://github.com/ruby/ruby-dev-builder/blob/b0bf59a17c17985d4692243d4689c273f6348fa5/.github/workflows/build.yml.
on:
  workflow_dispatch:
  push:
    tags:
    - '*'
  pull_request:

jobs:
  create-release:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - name: Get Asterinas version
        id: tag
        run: |
          ASTER_VERSION=$(cat ./VERSION)
          echo "ASTER_VERSION=${ASTER_VERSION}"
          echo "tag=${ASTER_VERSION}" >> $GITHUB_OUTPUT

      - name: Create release
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          tag="${{ steps.tag.outputs.tag }}"
          body="asterinas-nixos/asterinas@$tag"
          echo "tag=$tag"
          echo "body=$body"
          gh release create --draft "$tag" --title "$tag" --notes "$body"

  build-asterinas:
    runs-on: ubuntu-latest
    needs: [ create-release ]
    strategy:
      fail-fast: false
      matrix: 
        arch: [ 'x86_64', 'riscv64' ]
    steps:
      - uses: actions/checkout@v4
      - name: Build Asterinas
        run: |
          docker run \
              --name=aster-container \
              --privileged --network=host -v /dev:/dev \
              -v $(pwd):/root/asterinas asterinas/asterinas:0.16.1-20251130 \
              make build RELEASE=1 ARCH=${{ matrix.arch }}
      
      - name: Create archive
        run: |
          tag="${{ needs.create-release.outputs.tag }}"
          echo "tag=$tag"
          tar -cJvf asterinas-nixos-$tag-${{ matrix.arch }}.tar.xz ./target/osdk/aster-nix-osdk-bin.iso

      - name: Upload archive
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          tag="${{ needs.create-release.outputs.tag }}"
          gh release upload "$tag" "asterinas-nixos-$tag-${{ matrix.arch }}.tar.xz"

  publish-release:
    runs-on: ubuntu-latest
    needs: [ create-release, build-asterinas ]
    steps:
    - name: Publish Release
      env:
        GH_TOKEN: ${{ github.token }}
        GH_REPO: ${{ github.repository }}
      run: gh release edit "${{ needs.create-release.outputs.tag }}" --draft=false





      








  