name: Publish release

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
    - '*'

jobs:
  publish-release-package-cache:
    runs-on: ubuntu-4-cores-150GB-ssd
    container:
      image: asterinas/asterinas:0.16.2-20251209
      options: -v /dev:/dev --privileged
    timeout-minutes: 60
    steps:
      - name: Build Asterinas NixOS patched packages and push to release cache
        run: |
          make kernel BOOT_PROTOCOL=linux-efi-handover64 || true
          export CACHIX_AUTH_TOKEN=${{ secrets.CACHIX_AUTH_TOKEN_FOR_RELEASE_CACHE }}
          make push_cachix USE_RELEASE_CACHE=1 2>&1 | tee cachix.log || true
          tail --lines 10 cachix.log | grep -q -E "^(All done|Nothing to push)" || (echo "Push cachix failed" && exit 1)
          echo "Push cachix succeeds!"

  create-release:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - name: Get Asterinas version
        id: tag
        run: |
          ASTER_VERSION=$(cat ./VERSION)
          echo "ASTER_VERSION=${ASTER_VERSION}"
          echo "tag=${ASTER_VERSION}" >> $GITHUB_OUTPUT

      - name: Create release
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          tag="${{ steps.tag.outputs.tag }}"
          body="asterinas-nixos/asterinas@$tag"
          echo "tag=$tag"
          echo "body=$body"
          gh release create --draft "$tag" --title "$tag" --notes "$body"

  build-iso:
    runs-on: ubuntu-latest
    needs: [ create-release ]
    strategy:
      fail-fast: false
      matrix: 
        arch: [ 'x86_64' ]
    timeout-minutes: 60
    steps:
      - uses: endersonmenezes/free-disk-space@v3
        with:
          rm_cmd: "rmz"
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
      - uses: actions/checkout@v4

      - name: Build ISO
        uses: addnab/docker-run-action@v3
        with:
          image: asterinas/asterinas:0.16.2-20251209
          options: --privileged -v /dev:/dev -v ${{ github.workspace }}:/root/asterinas
          run: |
            make iso RELEASE=1 AUTO_INSTALL=false ARCH=${{ matrix.arch }}
            iso_path=$(realpath ./target/nixos/iso_image/iso/*.iso)
            echo "iso_path=$iso_path"
            cp $iso_path ./asterinas-nixos.iso
            echo "Copy succeeds"
                
      - name: Upload ISO
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          tag="${{ needs.create-release.outputs.tag }}"
          echo "upload asterinas-nixos-$tag-${{ matrix.arch }}.iso"
          cd ${{ github.workspace }}
          mv ./asterinas-nixos.iso asterinas-nixos-$tag-${{ matrix.arch }}.iso
          gh release upload "$tag" "asterinas-nixos-$tag-${{ matrix.arch }}.iso"

  publish-release:
    runs-on: ubuntu-latest
    needs: [ create-release, build-iso ]
    steps:
    - name: Publish Release
      env:
        GH_TOKEN: ${{ github.token }}
        GH_REPO: ${{ github.repository }}
      run: gh release edit "${{ needs.create-release.outputs.tag }}" --draft=false