name: Run microvm test on latest QEMU

on:
  workflow_dispatch:
  pull_request:

jobs:
  microvm-test:
    runs-on: ubuntu-latest
    container:
      image: asterinas/asterinas:0.17.0-20260114
      options: -v /dev:/dev --privileged
    steps: 
      - name: Install dependencies
        run: |
          apt update && apt-get install -y --no-install-recommends \
              libgcrypt-dev  \
              libglib2.0-dev \
              libnuma-dev     \
              libpixman-1-dev  \
              libusb-dev       \
              meson \
              ninja-build

      - name: Install new qemu
        run: |
          cd /root
          wget -O qemu.tar.xz https://download.qemu.org/qemu-10.2.1.tar.xz
          mkdir /root/qemu
          tar xf qemu.tar.xz --strip-components=1 -C /root/qemu
          rm qemu.tar.xz
          cd /root/qemu
          ./configure --target-list=x86_64-softmmu,riscv64-softmmu,loongarch64-softmmu --prefix=/usr/local/qemu --enable-slirp --enable-numa
          make -j
          make install
      
      - name: Check QEMU version
        run: |
          qemu-system-x86_64 --version

      - uses: actions/checkout@v4

      - name: MicroVM test
        run: |
          make run_kernel AUTO_TEST=syscall RELEASE=1 NETDEV=tap SCHEME=microvm EXTRA_BLOCKLISTS_DIRS=blocklists.ext2 SYSCALL_TEST_SUITE=ltp SYSCALL_TEST_WORKDIR=/ext2 BOOT_PROTOCOL=linux-efi-handover64